:global(.vtex-store__template) {
    --purple-strong:rgba(96,62,133,255);
    --white:rgba(253,253,254,255);
    --promotions-color: #ffed00;
    --green-offers: #289e36;
    --discounts: #7ac537;
    --dynamic-texts: #843a8d;
    --card-descriptions: #c47373;
    --promotion-flags: #525252;
  }