
/*************************** "home slider main" *******************************/
.paginationDotsContainer--home_slider {
  transform: translateY(30px);
}

.sliderArrows--home_slider {
  background-color: white !important;
  border-radius: 50%;
  padding: 8px;
  opacity: 0.8;
}

.caretIcon--home_slider {
  color: var(--purple-strong);
}

.paginationDotsContainer--home_slider {
  position: absolute !important;
  bottom: -28px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 12%);
  padding: 4px 0px 4px 0px;
  left: 50%;
  transform: translate(-50%, -5%);
  line-height: 0;
  width: fit-content;
}
/*************************** "home slider categories" *******************************/

.slideChildrenContainer--home__slider--categories {
  padding: 24px 16px;
  width: 120px;
}

.sliderLayoutContainer--home__slider--categories {
  align-items: flex-start;
  height: 232px;
  position: relative;
}

.sliderArrows--home__slider--categories {
  position: absolute;
}

.caretIcon--home__slider--categories {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  padding: 5px;
  color: var(--purple-strong);
}

.slide--home__slider--categories--visible {
  width: 10% !important;
}

.sliderLeftArrow--home__slider--categories{
  margin-left: 66%;
  margin-top: -8px;
}
@media  (min-width:368px){
.sliderLeftArrow--home__slider--categories{
  margin-left: 80%;
}
}
@media  (min-width:800px){
  .sliderLeftArrow--home__slider--categories{
    margin-left: 90%;
  }
  }

.sliderRightArrow--home__slider--categories{
  margin-top: -8px;
}

.sliderLayoutContainer--slider__global--products--image{
  padding: 1em;
  position: relative;
  margin-top: 1.6em;
}

@media  (min-width:800px){
.sliderLayoutContainer--slider__global--products--image{
  padding: 5em
}
}

:global(.vtex-slider-layout-0-x-sliderArrows--slider__global--products--image){
  position: relative;
}

:global(.vtex-slider-layout-0-x-caretIcon--slider__global--products--image){
  right: 10em;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  padding: 5px;
  color: var(--purple-strong);
  margin-top: -35em;
  width: 15px;
  height: 15px;
}
.sliderTrack--slider__global--products--image{
  gap: 36px;
  margin-top: 2em;
}
.sliderTrackContainer--slider__global--products--image{
transform: translateX(4em);
}

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer){
  text-transform: capitalize;
}