/* .element--product-summary :global(.vtex-product-summary-2-x-imageStackContainer){
    max-width: 190px;
} */
:global(.vtex-product-summary-2-x-imageNormal){
    width: 90px;
    height: 116px;
}
.element--product-summary{ 
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-between;
border: 1px solid #F3F3F3;
}

.nameContainer--product-summary{
    padding: 0;
}