.flexRowContent--home__categories--contaniner {
  padding: 1rem;
  gap: 20px;
}

.flexRow--home__categories{
  margin:50px 100px;
}


.flexRow--home__qualities--contaniner{
  margin:50px 100px;
}


.flexCol--home__qualities--items{
  align-items: center;
}

.flexRow--home__section--contaniner-gridbrands{
  margin:50px 116px;
  padding: 16px;
  }