
.container--home__categories {
  color: var(--white);
}

.paragraph--home__text--title-section{
  margin: 0px;
}

.paragraph--home__qualities--items-title{
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

.paragraph--home__qualities--items-paragraph{
  margin: 0px;
}

.paragraph--home__section--categorie-text{
  text-align: center;
}