/***************************Home-section-slider*******************************/
.paginationDotsContainer--home_slider {
  position: absolute !important;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 12%);
}
.flexRowContent--home__categories{
  margin-top: 20px;
}
/***************************Home-section-categories *******************************/
.flexRowContent--home__categories--contaniner {
  padding: 1rem;
  gap: 20px;
}

.flexRow--home__categories{
  margin: 25px 96px;
  border-color: var(--light-grey);
}

.flexCol--home__container--categorie-two-text{
  align-items: center;
}

/***************************Home-section-qualities*******************************/
.flexRow--home__qualities--contaniner,
.flexRow--home__section--petlovers{
  margin:20px 100px;
}

.flexCol--home__qualities--items{
  align-items: center;
}

.flexColChild--home__section--qualities{
  margin-top: 20px;
}

.flexRow--home__qualitie--contaniner{
  padding: 20px 140px;
  margin: 20px;
}

.flexColChild--home__qualities--items{
  height: auto !important;
}

.flexRowContent--home__qualitie--contaniner{
  gap: 30px;
}

.flexCol--home__qualities--items{
  gap: 10px;
}

/* .flexRow--home__qualities--contaniner-mobile{
  margin:20px 100px;
} */

@media only screen and (max-width: 1025px){
  .flexRow--home__categories {
   margin: 0px;
  }
  }

.flexCol--home__qualitie--contaniner-mobile{
  row-gap: 30px;
}

.flexColChild--home__section--qualities-mobile{
  margin-bottom: 20px;
}

/***************************Home-section-petlovers*******************************/
.flexRowhome__section--petlovers{
  margin-bottom:40px;
}

/***************************Home-section-gridbrands*******************************/

.flexRow--home__section--contaniner-gridbrands{
  margin: 0 100px;
}
.flexRowContent--home__section--contaniner-all-gridbrands{
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 20px;
}

.flexColChild--gridbrands-Column{
  border: 1px solid rgba(204, 204, 204, 0.445);
  width: 16em;
  padding: 2%  25%;
}

@media only screen and (max-width: 719px){
.flexColChild--gridbrands-Column {
    width: 12em;
    padding: 5px 0px;
}
}

@media only screen and (min-width: 720px) and (max-width: 1200px){
.flexColChild--gridbrands-Column {
    width: 13.5em !important;
    padding: 20px 15px;
}}

@media only screen and (max-width: 1025px){
  .flexRow--home__section--contaniner-gridbrands {
   margin: 0px;
  }
  }
