:global(.vtex-search-result-3-x-filtersWrapper) {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  margin-top: 4%;
}
.filter__container--brand,
.filter__container--selectedFilters,
.filter__container--category-2,
.filter__container--priceRange {
  border: none;
}

:global(.vtex-search-result-3-x-filterAvailable) {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0.25rem;
  color: #737373;
  font-size: 13px;
}

:global(.vtex-search-result-3-x-filterMessage) {
  display: none;
}

:global(.vtex-search-result-3-x-filterTitle) {
  justify-content: space-evenly;
  width: 13em;
  align-items: center;
}

:global(.vtex-search-result-3-x-filterContent) {
  margin: 8% 4%;
}

.filter__container--selectedFilters{
    display: none;
}

:global(.vtex-search-result-3-x-filterTitleSpan)::before {
  content: url(/assets/img/icons-menu/icon-food.png);
  /* content:"lore" */
  }
  
  :global(.vtex-search-result-3-x-orderByOptionItem),
  :global(.vtex-search-result-3-x-filterPopupTitle){
    color: black;
    font-weight: bold;
    font-size: 1rem;
  }

  :global(.vtex-search-result-3-x-orderByOptionsContainer){
    margin-top: 55px;
  }