.confirmationCheckboxContainer {
  margin-top: 2em;
}

:global(.vtex-store-newsletter-1-x-newsletterForm){
  position: relative;
}

:global(.vtex-input__error) {
  position: absolute;
}

.formSubmitContainer--footer__newsletter-submit :global(.vtex-button) {
  background-color: var(--purple-strong);
  font-weight: bolder;
  width: 29px;
  min-height: 28px !important;
}

.formSubmitContainer--footer__newsletter-submit :global(.vtex-button__label) {
  padding: 2px 4px;
}

.confirmationCheckboxContainer--footer__newsletter--checkbox-confirmation
  :global(.vtex-checkbox__label) {
  font-size: 11px;
  font-style: italic;
  color:var(--purple-strong)
}
