.closeIconButton--header__menudrawer--mobile{
    margin-top: -126px;
    z-index: 3;
}

.drawer--header__menudrawer--mobile{
  width: 100%!important;
  max-width:1025px !important;
  min-width: 320px !important;
  transition: all 0.5s ease 0s;
}

.overlay--header__menudrawer--mobile{
  opacity: 0 !important;
}