.menuContainer--header__menu--sticky3 {
  align-items: start;
  justify-content: space-between;
}

.menuItem--menu__item {
  background-color: white;
  justify-content: flex-start;
}

.menuContainerNav--header__menu--mobile {
  width: 100%;
  margin-left: 30px;
}

.styledLinkContent--menu__department {
  justify-content: flex-start;
  margin-left: 10px;
  color: var(--purple-strong);
  font-weight: 600;
}

.styledLinkContainer--menu__department {
  margin-left: 0px;
  margin-right: 0px;
}

.styledLinkContent--department__dog-desktop {
  color: var(--purple-strong);
}

.submenuWrapper--submenu__department--dog-desktop {
  padding: 5px 10px;
  margin-left: -30px;
}
