.menuContainer--header__menu--sticky3{
    align-items: start;
    justify-content: space-between;
    /* position: absolute;
    width: 101%;
    padding-left:100px;
    padding-right: 100px; */
    /* margin-left: -8px; */
}

.menuItem--menu__item{
    background-color: white;
    justify-content: flex-start;
}

/* "header__menu--mobile" */
.menuContainerNav--header__menu--mobile{
    width: 100%;
    margin-left: 30px;
}

.styledLinkContent--menu__department{
    justify-content: flex-start;
    margin-left:10px;
    color: var(--purple-strong);
    font-weight: 600;
}

.styledLinkContainer--menu__department{
    /* background-color: blue; */
    margin-left: 0px;
    margin-right: 0px;
}


.-menuItem--department__dog-desktop{
    background-color: black;
    width: 180px;
}

/* .menuItem--department__dog-desktop--isClosed{ */
    /* width: 80px; */
    /* background-color: royalblue; */
/* } */

/* .menuItem--department__dog-desktop--isOpen{ */
    /* width: 200px; */
    /* background-color: gold; */
    /* position:absolute; */
/* } */
/* .menuItemInnerDiv--menu__department{
    background-color: green;
} */

/* vtex-menu-32-x-menuItem--department__dog-desktop vtex-menu-2-x-menuItem--isClosed vtex-menu-2-x-menuItem--department__dog-desktop--isClosed" */
.menuItem--menu__department{
    width: 100px;
}


/* list vtex-menu-2-x-menuItem vtex-menu-2-x-menuItem--menu__department vtex-menu-2-x-menuItem--isClosed vtex-menu-2-x-menuItem--menu__department--isClosed */
/* vtex-menu-12-x-menuItem--department__dog-desktop--isOpen */
/* 
.menuItem--department__dog-desktop{
    position: absolute;
    width: 200px;
    background-color: red;
} */