
.paragraph--header__section--phone,
.paragraph--header__section--email,
.paragraph--header__section--text-address,
.paragraph--header__section--text-login {
  color: var(--white);
  font-size: 12px;
}

.paragraph--header__section--qualitie{
  font-size: 12px;
  color:white;
  margin-left: 5px;
}

.container--header_hr{
  background-color: white;
  height: 16px;
  align-items: center;
  width: 1px !important;
  margin-top: 15px;
}

.paragraph--header__section--text-address{
  margin: 20px 0px 0px 50px;
}

/* .paragraph--header__section--text-login{
  margin: 20px 0px 0px 0px;
} */

.paragraph--header__section--email{
  margin-left: 20px;
}

.paragraph--header__section--text-login{
  background-color:var(--purple-bold-strong);
  border-radius: 5px;
  padding: 10px;
}

