.flexRow--container__sticky1--header,
.flexRow--container__sticky2--header {
  background-color: var(--purple-strong);
  width: 100%;
  padding: 0 85px;
}

.flexRow--container__sticky3--header {
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.flexRowContent--container__sticky1--header {
  width: 100%;
}

.flexRow--container__section--qualitie {
  align-items: center;
}

.flexRow--header__section--qualities {
  width: 70%;
}

.flexRow--header__container--qualitie {
  align-items: center;
}

.flexRowContent--header__container--qualitie {
  align-items: center;
}

.flexRowContent--header__container--contact {
  align-items: center;
}

.flexRowContent--header__container--buttons {
  margin-top: 10px;
}

.flexRowContent--container__sticky3--header {
  padding: 0px 85px 0px 85px;
}

.flexRowContent--header__section--contact {
  justify-content: center;
  margin-left: 80px;
}

.flexCol--header__container-menuitem-desktop {
  width: 162px;
}

.flexColChild--header__container-menuitem-desktop {
  padding: 0px 16px;
}
.flexCol--header__container-menuitem-desktop-xl {
  width: 210px;
  /* padding: 6px 0; */
}

.flexColChild--header__container-menuitem-desktop-xl {
  margin: -1px 16px;
}

.flexCol--header__gridbrands-Column {
  border: 1px solid rgba(204, 204, 204, 0.445);
  /* padding: 11px; */
}

.flexCol--submenu__container--dog-menu-item-desktop {
  width: 180px;
  align-items: center;
}

.flexRowContent--header__container--dog-menu-title-desktop {
  align-items: center;
}

.flexCol--contaniner__department--dog-menu-items-desktop {
  padding: 25px 15px 0px 15px;
}

.flexRowContent--header__container-menuitem-title-desktop {
  align-items: center;
  margin-bottom: 5px;
}

.flexColChild--container__categories_links--menu-desktop {
  /* margin: 5px; */
  padding: 4px 15px;
}

