.headerRowContentContainer--header__mobile--search {
  background-color: var(--purple-strong);
}

.headerRow--2headermobile__mobile {
  background-color: var(--purple-strong);
}

.container--header__section--email {
  margin-left: 20px;
}

.autoCompleteOuterContainer--header__search-bar{
  width: 546px;
}

.searchBarContainer{
  flex-direction: row-reverse;
}

.imageElement--categories--image-mobile-deparment{
  padding-left: 20px;
}

.imageElement--categories--image-mobile-categories{
  padding-left: 20px;
  margin-left: 46px;
}
