.flexRow--container__sticky1--header,
.flexRow--container__sticky2--header {
  background-color: var(--purple-strong);
}

.flexRow--container__sticky3--header {
  background-color: var(--white);
}

.flexRowContent--container__sticky1--header {
  width: 100%;
  padding: 0 85px;
}

.flexRow--container__section--qualitie{
  align-items: center;
}


.flexRow--header__section--qualities {
  width: 70%;
}


.flexRow--header__container--qualitie{
  align-items: center;
}

.flexRowContent--header__container--qualitie{
  align-items: center;
}

.flexRowContent--header__container--contact{
  align-items: center;
}


.flexRowContent--header__container--buttons{
  margin-top: 10px;
}