.label--header__categories--links-menu-title-desktop{
    margin-left: 10px;
    font-weight: 400;
    font-size: 20px;
  }

  .link--categories__links--menu-desktop{
    text-decoration: none;
  }

  .link--header__categories--links-menu-title-desktop{
    text-decoration: none;
  }