.quantitySelectorButton--mini-cart__product-list--quantity-mobile {
  background-color: #603e85;
  display: grid;
  justify-content: space-around;
  align-content: center;
  margin: 5px;
  max-height: 8px;
  max-width: 8px;
  border-radius: 4px;
  color: var(--white);
}
.quantitySelectorWrapper--mini-cart__product-list--quantity-mobile {
  background-color: #f0ecf4;
  border-radius: 6px;
  width: 110px;
  font-size: 14px;
}

:global(.vtex-product-list-0-x-inputContainer) {
  padding: 0;
  width: 36px;
  border: none;
}

.quantitySelectorContainer--mini-cart__product-list--quantity-mobile {
  display: flex;
  justify-content: flex-end;
}
