.quantitySelectorButton--mini-cart__product-list--quantity-mobile {
  background-color: #603e85;
  margin: 5px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  color: var(--white);
}

/* .quantitySelectorButton--mini-cart__product-list--quantity-mobile svg{
overflow: visible !important;
} */


.quantitySelectorWrapper--mini-cart__product-list--quantity-mobile {
  background-color: #f0ecf4;
  border-radius: 6px;
  /* width: min(84px, 100%); */
  width: 110px;
  font-size: 14px;
}

:global(.vtex-product-list-0-x-inputContainer) {
  padding: 0;
  width: 36px;
}

.quantitySelectorContainer--mini-cart__product-list--quantity-mobile {
  display: flex;
  justify-content: flex-end;
}
