.flexRow--product__page--container-product{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 0.25rem;
    width: 83%;
    margin: auto;
}

/* .flexRowContent--product__page--container-product{
    margin:3rem
} */