
@font-face {
    font-family: 'causten';
    src: url(assets/fonts/causten-extra-bold-oblique.ttf) format("ttf");
    font-weight: 400;
    /* font-style: normal; */
}

/* Causten Round Semi Bold Oblique */